name: Coverage

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  coverage:
    name: "codecov"
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: true
        clean: true
        fetch-depth: 2
    - name: "install dependencies"
      run: |
        set -e
        sudo apt-get update || true
        sudo apt-get install -y ninja-build
        sudo python3 -m pip install --upgrade pip
        sudo pip3 install scikit-build
        sudo pip3 install cmake requests gitpython gcovr pyyaml
    - name: "cmake"
      env:
        CC: clang
        CXX: clang++
      run: cmake . -GNinja -Bbuild-coverage -DCOVERAGE=ON -DEXAMPLES=OFF
    - name: "build report"
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
      run: cmake --build build-coverage --target coverage -- -j4
    - name: "upload"
      uses: codecov/codecov-action@v1.2.1
      with:
        files: build-coverage/coverage.xml
        verbose: false
